node_modules/
dist/
*.AppImage
*.dmg
*.exe
*.deb
*.rpm
*.pkg.tar.zst
*.tar.gz
*.zip
*.log
neobrowser.log

# Android build artifacts and local configs
android/.gradle/
android/app/build/
android/local.properties
android/.idea/
android/*.iml
android/app/*.iml
